* { 
    box-sizing: border-box;
}

hr{
    margin: 0;
    padding: 0;
    background-color: #950740;
    border-color: #950740;
    height: 0.25rem;
    width: 100%;
}

.nav {
    background-color: #434350;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
    padding: 0 1rem;
    text-wrap: nowrap;
}

.site-title {
    padding: 0;
    margin: 0.5rem;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 0.5rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    padding-right: 1rem;
}

.nav li.active{
    color: #C3073F;
}

.nav a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-icon{
    font-size: 1.5rem;
    height: 100%;
}