.array-container{
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    gap: 0rem;
    width: 90%;
    justify-content: center;
    align-items: flex-end;
}

.sorting-container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.left {
    background-color: red;
}

.right{
    background-color: blue;
}

.none{
    background-color: white;
}


