*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;
}

:root {
  background-size: cover;

  --text: #0b1811;
  --background: #f5faf8;
  --primary: #59b180;
  --secondary: #9acdd0;
  --accent: #83b3c3;

  --ff-base: 'IBM Plex Sans', sans-serif;
  --ff-accent: 'IBM Plex Sans Condensed', sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e7f4ed;
    --background: #050a08;
    --primary: #4ea676;
    --secondary: #2f6265;
    --accent: #3c6c7c;
  }
}

body {
  font-family: var(--ff-base);
  color: var(--text);
}